body {
    background-color: black;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

a {
    color: white;
    font-size: 6rem;
    letter-spacing: 5px;
}

a:hover { 
  color: #2F3032;
}

h6 {
    color: white;
}

span {
    color: #4C4D50;
}

.title_details {
    width: 100%;
    margin: 7vh 0  0 7vh;
    text-align: right;
}

.grid-y {
    height: 93vh;
}

.contact_list {
    float: left;
    color: white;
    margin: 0 1% 0 1%;
}

.port_circle {
    border-bottom: 1px dashed white;
    border-radius: 50%;
    height: 18%;
    width: 18%;
    float: left;
    margin: 3vh 8vh;
}

.project_screenshot {
    border-radius: 50%;
    height: 100%;
    width: 98%;
    margin-left: 1%;
}

.about_text {
    color: white;
    text-decoration: underline;
    text-decoration-color: #43CBFF;
}

.react_svg {
    fill: white;
}

.svg {
    height: 15%;
    margin-top: 5%;
}

#right_cell {
    width: 50vw;
    margin-left: 5vw;
}

#menu {
    height: 5vh;
}

#horizon {
    height: 1vh;
    width: 100vw;
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
}

#about_content {
    border: 2px solid white;
    border-radius: 3%;
    height: 93%;
    width: 80%;
    margin: 3vh 0 0 15vh;
}

#experience {
    font-size: 1rem;
    margin-left: 1vh;
}

#circle_container {
    margin: 5vh 0 0 1vh;
}

#content_header {
    height: 7vh;
    width: 100%;
    border-bottom: 1px solid red;
}

#header_cont {
    margin: 0;
    line-height: 4;
}

#initials {
    color: white;
    margin-left: 1%;
}

#faux_date {
    color: white;
    float: right;
    margin-right: 1%;
}
 #extra_details {
     height: 45vh;
 }
